/**Body*/

body{

  
  font-size: 14px;
  color: #404040;
  margin: 10px;
  background: url("../img/bg1.png") #000;

  
}

header{

position: absolute; 


}




/*Title*/


h1{

font-family: 'Orbitron', sans-serif;
color: #272727;
font-size: 8em;
text-align: center;




}

/*Primary Header*/


h2{

font-family: 'Russo One', sans-serif;
color: #cfcfcf;
font-size: 3em;

}

/*Secondary Header*/


h3{

font-family: 'Russo One', sans-serif;
color: #ff3054;
font-size: 2em;


}


/*Body Text*/


p{

font-family: 'Numans', sans-serif;
line-height: 1.5em;
color: #4d4d4d;
font-size: 1.1em;

}

em{

font-size: .8em;

}


/*Links*/


a:link, a:visited{



text-decoration: none;
color: #ff3054;
cursor: auto;
transition-property: background, color, opacity;
  transition-duration: .5s;
  transition-timing-function: linear;
  cursor: pointer;

}


a:active,  { 
    color: white;

}

a:hover{
  color:#3bff5c;


}

/*navigation*/

nav{


  width: 100%;
  background: #272727;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 2em;


  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;

}


nav ul{
  list-style: none;
  display: inline;
  padding-left: 10px;
  margin: 0;
  color: #fff;
  
}

nav ul li{
  display: inline;
  padding-left: 30px;
  
}


/* Layout for Style Tile*/


/*section {
  margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
  border: 1px solid #000;
  float: left;
  margin: 0 10px;
  height: 50px;
  width: 50px;
}*/

/*Color Palette*/

/*.color-1{

background: #cfcfcf;

}

.color-2{


background: #3bff5c;

}


.color-3{

background: #ff3054;

}*/


/*Textures*/

/*.pattern-1{

background: url("../img/wall.png")

}

.pattern-2{

background: url("../img/pattern.png")

}

.pattern-3{

background: url("../img/bg1.png")

}*/

/* Show Grid */
.showgrid {
  background: url("../img/grid-bg.png") repeat-y;
}




#container{

  color: #404040;
  margin: -30px;
  background: url("../img/bg1.png");
  border-radius: 10px 10px 10px 10px;




/*Below CSS code copied from http://stackoverflow.com/questions/114543/how-to-horizontally-center-a-div-in-a-div*/

  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;

}

#page {
max-width: 100%;
min-width: 32%;
float: left;
margin-left: 10px;
margin-top: 0px;
margin-right:10px;
margin-bottom:10px;
padding-top: 0px;
padding-bottom: 20px;
border-radius: 4px;
background: #272727;
height: auto;



}


#content{

padding:30px;
max-width: 1000px;
min-width: 320px;
margin-top: 275px;


}

.banner{

background: #3bff5c;
opacity: 0.8;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: auto;
margin-top: 2%;



}

.type{

margin-top:160px;
text-align: center;


}


.main {
max-width: 100%;
min-width: 32%;
float: left;
overflow: hidden;

}


.subhead {

font-style:italic;
margin-left: 30px;

}

#title_cust1{

background: url("../img/pattern.png");
border-radius: 3px 40px 40px 3px;
box-shadow: 0px 0px 20px 3px #d3d3d3;
padding-left: 20px;
margin-left:-30px;



}


.tabs{

background: url("../img/old_wall.png");
border-radius: 3px 40px 3px 30px;
box-shadow: 0px 0px 20px 3px #000000;
margin-top:20px;


}


/*blockquote*/

blockquote {
  background: gold;
  border-left: 10px solid #0099FF;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  
}

blockquote p {
  display: inline;
}


/* Show Grid */
.showgrid {
  background: url("../img/grid-bg.png") repeat-y;
}

section {
  margin: 20px 0;
} 
















/*http://codepen.io/macbobbitt_/pen/jmEBL*/



#slider-wrapper{
      width: 940px;
      height: 470px;
      margin: 50px auto;
      position: relative;
      margin-bottom: 0px;
      background: rgba(0,0,0,0.5);
      overflow: hidden;
    }
    
        #s1{
          padding: 6px;
          background: #FFFFFF;
          position: absolute;
          left: 50%;
          bottom: 25px;
          margin-left: -36px;
          border-radius: 20px;
          opacity: 0.3;
          cursor: pointer;
          z-index: 999;
        }
        
        #s2{
          padding: 6px;
          background: #FFFFFF;
          position: absolute;
          left: 50%;
          bottom: 25px;
          margin-left: -12px;
          border-radius: 20px;
          opacity: 0.3;
          cursor: pointer;
          z-index: 999;
        }
        
        #s3{
          padding: 6px;
          background: #FFFFFF;
          position: absolute;
          left: 50%;
          bottom: 25px;
          margin-left: 12px;
          border-radius: 20px;
          opacity: 0.3;
          cursor: pointer;
          z-index: 999;
        }
        
        #s4{
          padding: 6px;
          background: #FFFFFF;
          position: absolute;
          left: 50%;
          bottom: 25px;
          margin-left: 36px;
          border-radius: 20px;
          opacity: 0.3;
          cursor: pointer;
          z-index: 999;
        }
        
        #s1:hover, #s2:hover, #s3:hover, #s4:hover{ opacity: 1;}
        
      .inner-wrapper{
        width: 940px;
        height: 470px;
        position: absolute;
        top: 0;
        left: 0;
        margin-bottom: 0px;
        overflow: hidden;
      }
        .control{ display: none;}
        
        #Slide1:checked ~ .overflow-wrapper{ margin-left: 0%; }
        #Slide2:checked ~ .overflow-wrapper{ margin-left: -100%; }
        #Slide3:checked ~ .overflow-wrapper{ margin-left: -200%; }
        #Slide4:checked ~ .overflow-wrapper{ margin-left: -300%; }
        
        #Slide1:checked + #s1 { opacity: 1; }
        #Slide2:checked + #s2 { opacity: 1; }
        #Slide3:checked + #s3 { opacity: 1; }
        #Slide4:checked + #s4 { opacity: 1; }
        
      .overflow-wrapper{
        width: 400%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow-y: hidden;
        z-index: 1;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
      
        .slide img{
          width: 25%;
          float: left;
        }